@function rem($px){
    @return $px/16px + 0rem;
} 
.container-center{
    width: rem(1140px);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
} 
.hero{
    background-color: #f5fcfd;
    margin: 0 auto;
    background-image: url(../img/Shape_1.png);
    background-position: 0 21px;
    background-repeat: no-repeat;
    position: relative;
}
.whiteArrowDown{
    width: 70px;
    height: 70px;
    display: block;
    background-image: url(../img/whiteArrowDown.png);
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    
}
.whiteArrowDown:hover{
    border: 1px solid #0f7bff;
}
.home-header{
    width: rem(1140px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.home-header__left{

}
.home-header__logo{
    color: #feffff;
    font-size: rem(36px);
    font-weight: 700;
    display: flex;
    width: rem(179px);
    background-color: #0f7bff;
    border-radius: 0 0 1em 1em;
    padding: rem(29px) 0px;
    justify-content: center;
    box-sizing: border-box;
}
.home-header__right{
    display: flex;
}
.hero__title{
    font-size: rem(36px);
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-top: rem(106px);
}
.hero__desc{
    color: #929292;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 27px;
    width: rem(615px);
    text-align: center;
    margin: 0 auto;
    margin-top: rem(32px);
}
.hero__list{
    display: flex;
    margin: 0 auto;
    width: rem(360px);
    justify-content: space-between;
    margin-top: rem(35px);
}
.hero__item{

}
.hero__link{
    color: #0f7bff;
    font-weight: 700;
    width: rem(165px);
    height: rem(50px);
    display: flex;
    border-radius: 25px;
    border: 2px solid #0f7bff;
    justify-content: center;
    align-items: center;
}
.hero__link:hover{
    background-color: #0f7bff;
    color: #ffffff;
}
.device{
    margin: 0 auto;
    background-image: url(../img/social/Device.png);
    background-position: 0 0;
    height: rem(535px);
    width: rem(898px);
    margin-top: rem(80px);
}
.advantage{
    padding-top: rem(165px);
    background-color: #f5fcfd;
}
.advantage__list{
    display: flex;
    margin: 0 auto;
    margin-bottom: rem(130px);
    align-items: start;
}
.advantage__item{
    width: rem(360px);
    box-shadow: 0 0 rem(25px) #f0f0f0;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: rem(30px);
}
.advantage__item:nth-child(2){
    margin-top: rem(50px);
}
.advantage__item:last-child{
    margin-right: 0;
}
.advantage__img{
    width: rem(70px);
    height: rem(70px);
    margin-top: rem(40px);
}
.advantage__img_1{
    background-image: url(../img/advantage/advantage-img-1.png);
}
.advantage__img_2{
    background-image: url(../img/advantage/advantage-img-2.png);
}
.advantage__img_3{
    background-image: url(../img/advantage/advantage-img-3.png);
}
.advantage__title{
    font-size: rem(18px);
    font-weight: bold;
    color: #333333;
    margin-top: rem(30px);
}
.advantage__desc{
    font-size: rem(16px);
    font-weight: 400;
    color: #929292;
    line-height: 27px;
    width: rem(298px);
    text-align: center;
    margin-top: rem(25px);
    margin-bottom: rem(38px);
}
.about{

}
.about__list{

}
.about__item{
    display: flex;
}
.about__item:nth-child(2n-1) .about__img{
    margin-left: rem(-100px);
    margin-right: rem(96px);
}
.about__item:nth-child(2n){
    flex-direction: row-reverse;
}
.about__item:nth-child(2n) .about__img{
    margin-right: rem(-100px);
    margin-left: rem(96px);
}
.about__left{

}
.about__img{

}
.about__right{

}
.about__text{

}
.about__title{
    font-size: rem(32px);
    color: #333333;
    font-weight: 500;
    margin-top: rem(226px);
}
.about__desc{
    width: rem(544px);
    line-height: 27px;
    font-weight: 400;
    color: #929292;
    font-size: rem(16px);
    margin-top: rem(33px);
}
.about__link{
    font-size: rem(16px);
    font-weight: 500;
    margin-top: rem(38px);
    display: block;
}
.about-desc__continue{
    display: flex;
    align-items: center;
    margin-top: rem(35px);
}
.about-desc__continue:hover .about-desc__continue__text{
    color: #0f7bff;
} 
.about-desc__continue:hover .about-desc__continue__arrow{
    background-image: url(../img/blog/blogArrow.png);
}
.about-desc__continue__text{
    font-size: rem(16px);
    font-weight: 500;
    color: #333333;
    
}
.about-desc__continue__arrow{
    width: 0.9375rem;
    height: 0.6875rem;
    margin-left: 0.5625rem;
    background-image: url(../img/blog/blogArrowBlack.png);
    background-size: contain;
}
.how{
    background-color: #f5fcfd;
}
.how__title{
    color: #333333;
    font-weight: 500;
    font-size: rem(32px);
    text-align: center;
    background-image: url(../img/N.png);
    background-repeat: no-repeat;
    background-position:center;
    height: rem(74px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: rem(130px);
    margin-bottom: rem(38px);
}
.how__desc{
    width: 733px;
    text-align: center;
    font-weight: 400;
    line-height: rem(27px);
    color: #929292;
    margin: 0 auto;
}
.how__line{
    background-image: url(../img/how/Line.png);
    height: 1px;
    width: rem(690px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(100px);
    z-index: 1;
}
.how__list{
    display: flex;
    margin: 0 auto;
    position: relative;
}
.how__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: rem(298px);
    margin-right: rem(94px);
    margin-top: rem(47px);
    margin-bottom: rem(147px);
    z-index: 2;
}
.how__item:last-child{
    margin-right: 0;
}
.how__img{
    width: rem(100px);
    height: rem(100px);
    margin: 0 auto;
}
.how__img_1{
    background-image: url(../img/how/how1.png);
}
.how__img_2{
    background-image: url(../img/how/how2.png);
}
.how__img_3{
    background-image: url(../img/how/how3.png);
}
.how__list__title{
    text-align: center;
    color: #333333;
    font-weight: bold;
    margin-top: rem(30px);
}
.how__list__desc{
    width: rem(300px);
    text-align: center;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 27px;
    margin-top: rem(28px);
}
.price{
   
}
.price-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(130px) 0;
}
.price__left{
    width: rem(325px);
}
.price__title{
    font-size: rem(32px);
    font-weight: 600;
    color: #333333;
}
.price__desc{
    width: rem(325px);
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    line-height: rem(27px);
    margin-top: rem(33px);
}
.price__list{
    display: flex;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #0f7bff;
    overflow: hidden;
    margin-top: rem(35px);
}
.price__item:nth-child(2) .price__link{
    border-left: 1px solid #0f7bff;
}
.price__item{

}
.price__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f7bff;
    width: rem(165px);
    height: rem(50px);
}
.price__link:hover{
    background-color: #0f7bff;
    color: #ffffff;
}
.price__right{
    
}
.plan__list{
    display: flex;
}
.plan__item{
    width: rem(360px);
    box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-right: rem(30px);
}
.plan__item:last-child{
    margin-right: 0;
}
.plan__img{
    width: rem(100px);
    height: rem(100px);
    margin: 0 auto;
    margin-top: rem(40px);
}
.plan__img_1{
    background-image: url(../img/price/price1.png);
}
.plan__img_2{
    background-image: url(../img/price/price2.png);
}
.plan__title{
    font-size: rem(18px);
    font-weight: 500;
    color: #333333;
    text-align: center;
    margin-top: rem(28px);
}
.plan__line{
    width: rem(165px);
    height: 1px;
    background-color: #e0e0e0;
    margin: rem(30px) auto;
}
.condition__list{
    text-align: center;
    color: #929292;
}
.condition__item{
    margin-top: rem(20px);
}
.condition__item:first-child{
    margin-top: 0;
}
.price__cost{
    font-size: rem(32px);
    font-weight: 500;
    color: #0f7bff;
    text-align: center;
    margin-top: rem(27px);
    margin-bottom: rem(38px);
}
.price__money{
    font-size: rem(16px);
}
.price__cost__link{
    color: #0f7bff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(165px);
    height: rem(50px);
    border-radius: 25px;
    border: 2px solid #0f7bff;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: rem(40px);
}
.price__cost__link:hover{
    background-color: #0f7bff;
    color: #ffffff;
}
.trust{
    display: flex;
    background-color: #f5fcfd;
    justify-content: center;
}
.trust__left{

}
.trust__left__img {
    width: rem(752px);
    height: rem(608px);
    background-image: url(../img/trust.png);
}
.trust__right{
    margin-left: rem(127px);
}
.trust__title{
    font-size: rem(32px);
    color: #333333;
    font-weight: 500;
    margin-top: rem(130px);
}
.trust__list{
    display: flex;
    margin-top: rem(44px);
}
.trust__item{
    width: rem(360px);
    box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    padding: rem(40px) rem(30px);
    position: relative;
    margin-right: rem(30px);
}
.trust__item__title{
    font-size: rem(18px);
    font-weight: 500;
    color: #333333;
}
.trust__item__subtitle{
    color: #929292;
    font-size: rem(14px);
    font-weight: 400;
    margin-top: rem(10px);
}
.trust__item__desc{
    color: #929292;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 27px;
    margin-top: rem(29px);
}
.trust__icon{
    position: absolute;
    width: rem(17px);
    height: rem(13px);
    background-image: url(../img/Twitter_icon.png);
    top: rem(40px);
    right: rem(30px);
}
.trust__links{
    display: flex;
    margin-top: rem(50px);
}
.links__item{
    margin-right: rem(10px);
}
.links__link{
    width: rem(20px);
    height: rem(10px);
    background-color: #d4d4d4;
    border-radius: 5px;
    display: block;
}
.links__link:hover{
    width: rem(30px);
    background-color: #0f7bff;
}

.news{

}
.news__block{
    margin-top: rem(45px);
    display: flex;
    margin-bottom: rem(127px);
}
.news__left{
    display: block;
}
.news__left__img{
    width: rem(555px);
    height: rem(285px);
    background-image: url(../img/news/bigNew.png);
}
.news__left__title{
    font-size: rem(24px);
    font-weight: 600;
    color: #333333;
    width: rem(520px);
    line-height: 36px;
    margin-top: rem(38px);
}
.news__left__desc{
    width: rem(530px);
    color: #929292;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 27px;
    margin-top: rem(20px);
}
.news__left__continue{
    margin-top: rem(35px);
    display: flex;
    align-items: center;
}
.news__left__comtinus__link{
    font-weight: 500;
    color: #333333;
}
.news__left__continue__arrow{

}
.news__left:hover .news__left__title{
    color: #0f7bff;
}
.news__right{
margin-left: rem(30px);
}
.news__right__list{

}
.news__right__item{
    display: flex;
    margin-bottom: rem(40px);
}
.news__right__item:hover .news__right__item__right__title{
    color: #0f7bff;
}
.news__right__item__left{
    width: rem(165px);
    height: rem(120px);
}
.news__right__item__left_1{
    background-image: url(../img/news/new1.png);
}
.news__right__item__left_2{
    background-image: url(../img/news/new2.png);
}
.news__right__item__left_3{
    background-image: url(../img/news/new3.png);
}
.news__right__item__right{
    margin-left: rem(30px);
}
.news__right__item__right__title{
    font-size: 1rem(8px);
    color: #333333;
    font-weight: 600;
    width: rem(340px);
}
.news__right__item__right__subtitle{
    color: #929292;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 27px;
    width: rem(300px);
    margin-top: rem(24px);
}
.trial{
    background-color: #f5fcfd;
}
.trial-wrap{
    width: rem(770px);
    margin: 0 auto;
    display: flex;
    padding: rem(130px) 0;
}
.trial__left{

}
.trial__title{
    font-size: rem(32px);
    color: #333333;
    font-weight: 600;

}
.trial__subtitle{
    color: #929292;
    font-size: rem(16px);
    font-weight: 400;
    margin-top: rem(23px);
}
.trial__link{
    color: #ffffff;
    display: flex;
    font-size: rem(16px);
    font-weight: 700;
    background-color: #0f7bff;
    border-radius: 5px;
    width: rem(263px);
    height: rem(76px);
    justify-content: center;
    align-items: center;
    margin-left: 162px;
}
.trial__link:hover{
    opacity: .7;
}
.sub{
    background-color: #0f7bff;
    padding: rem(130px) 0;
}
.sub__title{
text-align: center;
color: #ffffff;
font-weight: 700;
font-size: rem(36px);
}
.sub__form{
    width: rem(545px);
    margin: 0 auto;
    display: flex;
    margin-top: rem(33px);
}
.sub__form input[type=text]{
    border: 2px solid #ffffff;
    border-right: none;
    background-color: #0f7bff;
    width: rem(392px);
    height: rem(60px);
    border-radius: 30px 0 0 30px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: rem(16px);
    font-weight: 400;
    padding: 0 rem(31px);
}
.sub__form input[type=text]::placeholder{
    color: #fff;
}
.sub__form a{
    color: #0f7bff;
    font-size: rem(16px);
    font-weight: 700;
    background-color: #ffffff;
    border-radius: 0 30px 30px 0;
    height: rem(60px);
    width: rem(165px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-footer-wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.whiteArrowUp{
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background-image: url(../img/whiteArrow.png);
    position: absolute;
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
}
.whiteArrowUp:hover{
    opacity: .7;
}
.home-footer{
    background-color: #0f7bff;
    border-top: 1px solid #fff;
    color: #fff;
    padding: rem(35px) 0;
}
.home-footer__right{
    display: flex;
}
.copyright{
    font-size: rem(16px);
    font-weight: 400;
}
.home-footer__list{
    display: flex;
}
.home-footer__item{
    margin-right: rem(40px);
}
.home-footer__link{
    color: #d8d8d8;
}
.home-footer__link:hover{
    color: #fff;
}
.footer__social{
    display: flex;
    align-items: center;
}
.footer__socail__link{
    margin-right: rem(15px);
}
.footer__socail__link__img{
    
}
.footer__socail__link__img__fb{
    width: rem(10px);
    height: rem(20px);
    background-image: url(../img/whiteSocial/fb.svg);
    display: block;
}
.footer__socail__link__img__fb:hover{
    background-image: url(../img/whiteSocial/fbh.svg);
}
.footer__socail__link__img__tw{
    width: rem(18px);
    height: rem(16px);
    background-image: url(../img/whiteSocial/twitter.svg);
    display: block;
}
.footer__socail__link__img__tw:hover{
    background-image: url(../img/whiteSocial/twitterh.svg);
}
.footer__socail__link__img__yt{
    width: rem(19px);
    height: rem(14px);
    background-image: url(../img/whiteSocial/yt.svg);
    display: block;
}
.footer__socail__link__img__yt:hover{
    background-image: url(../img/whiteSocial/yth.svg);
}


@media (min-width: 992px) and (max-width: 1280px){
    .home-header{
        width: 971px;
    }
    .container{
        width: 971px;
    }
    .container-center{
        width: 100%;
    }
    .advantage__item{
        width: 260px;
    }
    .advantage__desc{
        width: 240px;
    }
    .about__img{
        width: 403px;
        height: 410px;
    }
    .about__desc{
        width: 500px;
    }
    .how__item{
        margin-right: 15px;
    }
    .news__block{
        flex-direction: column;
    }
    .news__left{
        margin: 0 auto;
    }
    .news__right{
        margin: 30px auto;
    }
    .plan__item{
        width: 250px;
    }
    .whiteArrowUp{
        right: -4.5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-header{
        width: 750px;
    }
    .container{
        width: 750px;
    }
    .device{
        width: 768px;
        background-position: center 232px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .container-center{
        width: 100%;
    }
    .advantage__item{
        width: 223px;
    }
    .advantage__desc{
        width: 215px;
    }
    .about__img{
        width: 403px;
        height: 410px;
    }
    .about__title{
        margin-top: 80px;
    }
    .about__desc{
        width: 340px;
    }
    .how__item{
        width: 218px;
        margin-right: 15px;
    }
    .how__line{
        width: 498px;
    }
    .how__list__desc{
        width: 204px;
    }
    .price-wrap{
        flex-direction: column;
        text-align: center;
    }
    .price__list{
        margin-bottom: 30px;
    }
    .trust__left__img{
        
    }
    .news__block{
        flex-direction: column;
    }
    .news__left{
        margin: 0 auto;
    }
    .news__right{
        margin: 30px auto;
    }
    .plan__item{
        width: 250px;
    }
    .trial-wrap{
        justify-content: center;
    }
    .trial__link{
        margin-left: 30px;
    }
    .whiteArrowUp{
        left: 50%;
        top: -100%;
    }
}
@media (min-width: 650px) and (max-width: 767px) {
    .home-header{
        width: 640px;
    }
    .container{
        width: 640px;
    }
    .device{
        width: 663px;
        background-position: center 121px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -80px;
    }
    .container-center{
        width: 100%;
    }
    .advantage{
        padding-top: 50px;
    }
    .advantage__list{
        flex-direction: column;
    }
    .advantage__item{
        width: 500px;
        margin-right: 0;
        margin-top: 20px;
    }
    .advantage__item:nth-child(2){
        margin-top: 20px;
    }
    .advantage__desc{
        width: 415px;
    }
    .about__list{
        margin-bottom: 50px;
    }
    .about__item{
        flex-direction: column;
        text-align: center;
    }
    .about__left{

    }
    .about__img{
        width: 403px;
        height: 410px;
        margin-left: 0;
    }
    .about__item:nth-child(2n-1) .about__img{
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
    }
    .about__item:nth-child(2n) .about__img{
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
    }
    .about__item:nth-child(2n){
        flex-direction: column;
    }
    .about__title{
        margin-top: 80px;
    }
    .about__desc{
        width: 340px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .about-desc__continue{
        justify-content: center;
    }
    .how__item{
        width: 195px;
        margin-right: 15px;
    }
    .how__desc{
        width: 500px;
    }
    .how__line{
        width: 498px;
    }
    .how__list__desc{
        width: 204px;
    }
    .trial__link{
        margin: 20px auto;
    }
    .trial-wrap{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .price-wrap{
        flex-direction: column;
        text-align: center;
    }
    .price__list{
        margin-bottom: 30px;
    }
    .trust__left__img{
        
    }
    .news__block{
        flex-direction: column;
    }
    .news__left{
        margin: 0 auto;
    }
    .news__right{
        margin: 30px auto;
    }
    .plan__item{
        width: 250px;
    }
    .trial-wrap{
        justify-content: center;
    }
    .whiteArrowUp{
        left: 50%;
        top: -100%;
    }
   
}
@media (min-width: 320px) and (max-width: 650px) {
    .home-header{
        width: 320px;
        justify-content: space-around;
    }
    .hero{
        background-position: -600px 21px;
    }
    .home-header__logo{
        font-size: 12px;
        width: 60px;
    }
    .header-menu{
        flex-direction: column;
    }
    .header-menu__btn{
        height: 30px;
        margin-top: 10px;   
    }
    .hero__desc{
        width: 311px;
    }
    .hero__list{
        width: 250px;
    }
    .hero__link{
        width: 100px;
    }
    .container{
        width: 640px;
    }
    .device{
        width: 315px;
        background-position: center 331px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -304px;
    }
    .container-center{
        width: 100%;
    }
    .advantage{
        padding-top: 50px;
    }
    .advantage__list{
        flex-direction: column;
    }
    .advantage__item{
        width: 300px;
        margin-right: 0;
        margin-top: 20px;
    }
    .advantage__item:nth-child(2){
        margin-top: 20px;
    }
    .advantage__desc{
        width: 280px;
    }
    .about__list{
        margin-bottom: 50px;
    }
    .about__item{
        flex-direction: column;
        text-align: center;
    }
    .about__left{

    }
    .about__img{
        width: 203px;
        height: 210px;
        margin-left: 0;
    }
    .about__item:nth-child(2n-1) .about__img{
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
    }
    .about__item:nth-child(2n) .about__img{
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
    }
    .about__item:nth-child(2n){
        flex-direction: column;
    }
    .about__title{
        margin-top: 20px;
    }
    .about__desc{
        width: 280px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .about-desc__continue{
        justify-content: center;
    }
    .how__item{
        width: 195px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .how__desc{
        width: 280px;
    }
    .how__line{
        display: none;
    }
    .how__list{
        flex-direction: column;
    }
    .how__list__desc{
        width: 204px;
    }
    .trial__link{
        margin: 20px auto;
    }
    .trial-wrap{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .price-wrap{
        flex-direction: column;
        text-align: center;
    }
    .price__list{
        margin-bottom: 30px;
    }
    .trust__list{
        padding-left: 15px;
        flex-direction: column;
    }
    .trust__item{
        margin-right: 15px;
        width: 230px;
        margin-bottom: 20px;
    }
    .trust__item:last-child{
        margin-bottom: 0;
    }
    .trust__left__img{
        
    }
    .news__block{
        flex-direction: column;
        margin-bottom: 0;
    }
    .news__left{
        margin: 0 auto;
        width: 318px;
    }
    .news__left__img{
        width: 315px;
        height: 173px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .news__left__title{
        width: 100%;
    }
    .news__left__desc{
        width: 100%;
        text-align: justify;
    }
    .news__right{
        margin: 30px auto;
    }
    .news__right__item__right{
        margin-left: 10px;
        width: 180px;
    }
    .news__right__item__right__title{
        width: 100%;
        font-size: 16px;
    }
    .news__right__item__right__subtitle{
        width: 100%;
        margin-top: 2px;
    }
    .news__right__item__left{
        width: 100px;
        height: 72px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sub__form{
        width: 305px;
    }
    .sub__form input[type=text]{
        width: 184px;
    }
    .sub__form a{
        width: 121px;
    }
    .plan__list{
        flex-direction: column;
    }
    .plan__item{
        width: 250px;
        margin-right: 0;
        margin-top: 10px;
    }
    .trust{
        flex-direction: column;
    }
    .trust__right{
        margin-left: 0;
    }
    .trust__left__img{
        display: none;
    }
    .trust__title{
        width: 280px;
        text-align: center;
        margin: 40px auto 0;
    }
    .trust__links{
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .trial-wrap{
        justify-content: center;
    }
    .home-footer__list{
        align-items: center;
        margin: 0 18px;
    }
    .home-footer__item{
        margin-right: 5px;
    }
    .whiteArrowUp{
        left: 50%;
        top: -35%;
    }
}