.container-center {
  width: 71.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  background-color: #f5fcfd;
  margin: 0 auto;
  background-image: url(../img/Shape_1.png);
  background-position: 0 21px;
  background-repeat: no-repeat;
}

.home-header {
  width: 71.25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header__logo {
  color: #feffff;
  font-size: 2.25rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11.1875rem;
  background-color: #0f7bff;
  border-radius: 0 0 1em 1em;
  padding: 1.8125rem 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #333333;
  text-align: center;
  margin-top: 6.625rem;
}

.hero__desc {
  color: #929292;
  font-size: 1rem;
  font-weight: 400;
  line-height: 27px;
  width: 38.4375rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 22.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.1875rem;
}

.hero__link {
  color: #0f7bff;
  font-weight: 700;
  width: 10.3125rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  border: 2px solid #0f7bff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__link:hover {
  background-color: #0f7bff;
  color: #ffffff;
}

.device {
  margin: 0 auto;
  background-image: url(../img/social/Device.png);
  background-position: 0 0;
  height: 33.4375rem;
  width: 56.125rem;
  margin-top: 5rem;
}

.advantage {
  padding-top: 10.3125rem;
  background-color: #f5fcfd;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 8.125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.advantage__item {
  width: 22.5rem;
  -webkit-box-shadow: 0 0 1.5625rem #f0f0f0;
          box-shadow: 0 0 1.5625rem #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.875rem;
}

.advantage__item:nth-child(2) {
  margin-top: 3.125rem;
}

.advantage__item:last-child {
  margin-right: 0;
}

.advantage__img {
  width: 4.375rem;
  height: 4.375rem;
  margin-top: 2.5rem;
}

.advantage__img_1 {
  background-image: url(../img/advantage/ad1.png);
}

.advantage__img_2 {
  background-image: url(../img/advantage/ad2.png);
}

.advantage__img_3 {
  background-image: url(../img/advantage/ad3.png);
}

.advantage__title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #333333;
  margin-top: 1.875rem;
}

.advantage__desc {
  font-size: 1rem;
  font-weight: 400;
  color: #929292;
  line-height: 27px;
  width: 18.625rem;
  text-align: center;
  margin-top: 1.5625rem;
  margin-bottom: 2.375rem;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item:nth-child(2n-1) .about__img {
  margin-left: -6.25rem;
  margin-right: 6rem;
}

.about__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__item:nth-child(2n) .about__img {
  margin-right: -6.25rem;
  margin-left: 6rem;
}

.about__title {
  font-size: 2rem;
  color: #333333;
  font-weight: 500;
  margin-top: 14.125rem;
}

.about__desc {
  width: 34rem;
  line-height: 27px;
  font-weight: 400;
  color: #929292;
  font-size: 1rem;
  margin-top: 2.0625rem;
}

.about__link {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2.375rem;
  display: block;
}

.about-desc__continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.1875rem;
}

.about-desc__continue:hover .about-desc__continue__text {
  color: #0f7bff;
}

.about-desc__continue:hover .about-desc__continue__arrow {
  background-image: url(../img/blog/blogArrow.png);
}

.about-desc__continue__text {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
}

.about-desc__continue__arrow {
  width: 0.9375rem;
  height: 0.6875rem;
  margin-left: 0.5625rem;
  background-image: url(../img/blog/blogArrowBlack.png);
  background-size: contain;
}

.how {
  background-color: #f5fcfd;
}

.how__title {
  color: #333333;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  background-image: url(../img/N.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 4.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-top: 8.125rem;
  margin-bottom: 2.375rem;
}

.how__desc {
  width: 733px;
  text-align: center;
  font-weight: 400;
  line-height: 1.6875rem;
  color: #929292;
  margin: 0 auto;
}

.how__line {
  background-image: url(../img/how/Line.png);
  height: 1px;
  width: 43.125rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 6.25rem;
  z-index: 1;
}

.how__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.how__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18.625rem;
  margin-right: 5.875rem;
  margin-top: 2.9375rem;
  margin-bottom: 9.1875rem;
  z-index: 2;
}

.how__item:last-child {
  margin-right: 0;
}

.how__img {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto;
}

.how__img_1 {
  background-image: url(../img/how/how1.png);
}

.how__img_2 {
  background-image: url(../img/how/how2.png);
}

.how__img_3 {
  background-image: url(../img/how/how3.png);
}

.how__list__title {
  text-align: center;
  color: #333333;
  font-weight: bold;
  margin-top: 1.875rem;
}

.how__list__desc {
  width: 18.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 27px;
  margin-top: 1.75rem;
}

.price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8.125rem 0;
}

.price__left {
  width: 20.3125rem;
}

.price__title {
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
}

.price__desc {
  width: 20.3125rem;
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6875rem;
  margin-top: 2.0625rem;
}

.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #0f7bff;
  overflow: hidden;
  margin-top: 2.1875rem;
}

.price__item:nth-child(2) .price__link {
  border-left: 1px solid #0f7bff;
}

.price__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0f7bff;
  width: 10.3125rem;
  height: 3.125rem;
}

.price__link:hover {
  background-color: #0f7bff;
  color: #ffffff;
}

.plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan__item {
  width: 22.5rem;
  -webkit-box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
          box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.875rem;
}

.plan__item:last-child {
  margin-right: 0;
}

.plan__img {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.plan__img_1 {
  background-image: url(../img/price/price1.png);
}

.plan__img_2 {
  background-image: url(../img/price/price2.png);
}

.plan__title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin-top: 1.75rem;
}

.plan__line {
  width: 10.3125rem;
  height: 1px;
  background-color: #e0e0e0;
  margin: 1.875rem auto;
}

.condition__list {
  text-align: center;
  color: #929292;
}

.condition__item {
  margin-top: 1.25rem;
}

.condition__item:first-child {
  margin-top: 0;
}

.price__cost {
  font-size: 2rem;
  font-weight: 500;
  color: #0f7bff;
  text-align: center;
  margin-top: 1.6875rem;
  margin-bottom: 2.375rem;
}

.price__money {
  font-size: 1rem;
}

.price__cost__link {
  color: #0f7bff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10.3125rem;
  height: 3.125rem;
  border-radius: 25px;
  border: 2px solid #0f7bff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.price__cost__link:hover {
  background-color: #0f7bff;
  color: #ffffff;
}

.trust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5fcfd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trust__left__img {
  width: 47rem;
  height: 38rem;
  background-image: url(../img/trust.png);
}

.trust__right {
  margin-left: 7.9375rem;
}

.trust__title {
  font-size: 2rem;
  color: #333333;
  font-weight: 500;
  margin-top: 8.125rem;
}

.trust__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.75rem;
}

.trust__item {
  width: 22.5rem;
  -webkit-box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
          box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 2.5rem 1.875rem;
  position: relative;
  margin-right: 1.875rem;
}

.trust__item__title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
}

.trust__item__subtitle {
  color: #929292;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.625rem;
}

.trust__item__desc {
  color: #929292;
  font-size: 1rem;
  font-weight: 400;
  line-height: 27px;
  margin-top: 1.8125rem;
}

.trust__icon {
  position: absolute;
  width: 1.0625rem;
  height: 0.8125rem;
  background-image: url(../img/Twitter_icon.png);
  top: 2.5rem;
  right: 1.875rem;
}

.trust__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.125rem;
}

.links__item {
  margin-right: 0.625rem;
}

.links__link {
  width: 1.25rem;
  height: 0.625rem;
  background-color: #d4d4d4;
  border-radius: 5px;
  display: block;
}

.links__link:hover {
  width: 1.875rem;
  background-color: #0f7bff;
}

.news__block {
  margin-top: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.9375rem;
}

.news__left {
  display: block;
}

.news__left__img {
  width: 34.6875rem;
  height: 17.8125rem;
  background-image: url(../img/news/bigNew.png);
}

.news__left__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  width: 32.5rem;
  line-height: 36px;
  margin-top: 2.375rem;
}

.news__left__desc {
  width: 33.125rem;
  color: #929292;
  font-size: 1rem;
  font-weight: 400;
  line-height: 27px;
  margin-top: 1.25rem;
}

.news__left__continue {
  margin-top: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__left__comtinus__link {
  font-weight: 500;
  color: #333333;
}

.news__left:hover .news__left__title {
  color: #0f7bff;
}

.news__right {
  margin-left: 1.875rem;
}

.news__right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
}

.news__right__item:hover .news__right__item__right__title {
  color: #0f7bff;
}

.news__right__item__left {
  width: 10.3125rem;
  height: 7.5rem;
}

.news__right__item__left_1 {
  background-image: url(../img/news/new1.png);
}

.news__right__item__left_2 {
  background-image: url(../img/news/new2.png);
}

.news__right__item__left_3 {
  background-image: url(../img/news/new3.png);
}

.news__right__item__right {
  margin-left: 1.875rem;
}

.news__right__item__right__title {
  font-size: 1rem 8px;
  color: #333333;
  font-weight: 600;
  width: 21.25rem;
}

.news__right__item__right__subtitle {
  color: #929292;
  font-size: 1rem;
  font-weight: 400;
  line-height: 27px;
  width: 18.75rem;
  margin-top: 1.5rem;
}

.trial {
  background-color: #f5fcfd;
}

.trial-wrap {
  width: 48.125rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8.125rem 0;
}

.trial__title {
  font-size: 2rem;
  color: #333333;
  font-weight: 600;
}

.trial__subtitle {
  color: #929292;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.4375rem;
}

.trial__link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  background-color: #0f7bff;
  border-radius: 5px;
  width: 16.4375rem;
  height: 4.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 162px;
}

.trial__link:hover {
  opacity: .7;
}

.sub {
  background-color: #0f7bff;
  padding: 8.125rem 0;
}

.sub__title {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.25rem;
}

.sub__form {
  width: 34.0625rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.0625rem;
}

.sub__form input[type=text] {
  border: 2px solid #ffffff;
  border-right: none;
  background-color: #0f7bff;
  width: 24.5rem;
  height: 3.75rem;
  border-radius: 30px 0 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1.9375rem;
}

.sub__form input[type=text]::-webkit-input-placeholder {
  color: #fff;
}

.sub__form input[type=text]:-ms-input-placeholder {
  color: #fff;
}

.sub__form input[type=text]::-ms-input-placeholder {
  color: #fff;
}

.sub__form input[type=text]::placeholder {
  color: #fff;
}

.sub__form a {
  color: #0f7bff;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 0 30px 30px 0;
  height: 3.75rem;
  width: 10.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-footer {
  background-color: #0f7bff;
  border-top: 1px solid #fff;
  color: #fff;
  padding: 2.1875rem 0;
}

.home-footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  font-size: 1rem;
  font-weight: 400;
}

.home-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-footer__item {
  margin-right: 2.5rem;
}

.home-footer__link {
  color: #d8d8d8;
}

.home-footer__link:hover {
  color: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socail__link {
  margin-right: 0.9375rem;
}

.footer__socail__link__img__fb {
  width: 0.625rem;
  height: 1.25rem;
  background-image: url(../img/whiteSocial/fb.svg);
  display: block;
}

.footer__socail__link__img__fb:hover {
  background-image: url(../img/whiteSocial/fbh.svg);
}

.footer__socail__link__img__tw {
  width: 1.125rem;
  height: 1rem;
  background-image: url(../img/whiteSocial/twitter.svg);
  display: block;
}

.footer__socail__link__img__tw:hover {
  background-image: url(../img/whiteSocial/twitterh.svg);
}

.footer__socail__link__img__yt {
  width: 1.1875rem;
  height: 0.875rem;
  background-image: url(../img/whiteSocial/yt.svg);
  display: block;
}

.footer__socail__link__img__yt:hover {
  background-image: url(../img/whiteSocial/yth.svg);
}

@media (min-width: 992px) and (max-width: 1280px) {
  .home-header {
    width: 971px;
  }
  .container {
    width: 971px;
  }
  .container-center {
    width: 100%;
  }
  .advantage__item {
    width: 260px;
  }
  .advantage__desc {
    width: 240px;
  }
  .about__img {
    width: 403px;
    height: 410px;
  }
  .about__desc {
    width: 500px;
  }
  .how__item {
    margin-right: 15px;
  }
  .news__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__left {
    margin: 0 auto;
  }
  .news__right {
    margin: 30px auto;
  }
  .plan__item {
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-header {
    width: 750px;
  }
  .container {
    width: 750px;
  }
  .device {
    width: 768px;
    background-position: center 232px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container-center {
    width: 100%;
  }
  .advantage__item {
    width: 223px;
  }
  .advantage__desc {
    width: 215px;
  }
  .about__img {
    width: 403px;
    height: 410px;
  }
  .about__title {
    margin-top: 80px;
  }
  .about__desc {
    width: 340px;
  }
  .how__item {
    width: 218px;
    margin-right: 15px;
  }
  .how__line {
    width: 498px;
  }
  .how__list__desc {
    width: 204px;
  }
  .price-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .price__list {
    margin-bottom: 30px;
  }
  .news__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__left {
    margin: 0 auto;
  }
  .news__right {
    margin: 30px auto;
  }
  .plan__item {
    width: 250px;
  }
  .trial-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trial__link {
    margin-left: 30px;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  .home-header {
    width: 640px;
  }
  .container {
    width: 640px;
  }
  .device {
    width: 663px;
    background-position: center 121px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
  }
  .container-center {
    width: 100%;
  }
  .advantage {
    padding-top: 50px;
  }
  .advantage__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantage__item {
    width: 500px;
    margin-right: 0;
    margin-top: 20px;
  }
  .advantage__item:nth-child(2) {
    margin-top: 20px;
  }
  .advantage__desc {
    width: 415px;
  }
  .about__list {
    margin-bottom: 50px;
  }
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about__img {
    width: 403px;
    height: 410px;
    margin-left: 0;
  }
  .about__item:nth-child(2n-1) .about__img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
  .about__item:nth-child(2n) .about__img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
  .about__item:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__title {
    margin-top: 80px;
  }
  .about__desc {
    width: 340px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .about-desc__continue {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .how__item {
    width: 195px;
    margin-right: 15px;
  }
  .how__desc {
    width: 500px;
  }
  .how__line {
    width: 498px;
  }
  .how__list__desc {
    width: 204px;
  }
  .trial__link {
    margin: 20px auto;
  }
  .trial-wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .price-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .price__list {
    margin-bottom: 30px;
  }
  .news__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__left {
    margin: 0 auto;
  }
  .news__right {
    margin: 30px auto;
  }
  .plan__item {
    width: 250px;
  }
  .trial-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .home-header {
    width: 320px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero {
    background-position: -600px 21px;
  }
  .home-header__logo {
    font-size: 12px;
    width: 60px;
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu__btn {
    height: 30px;
    margin-top: 10px;
  }
  .hero__desc {
    width: 311px;
  }
  .hero__list {
    width: 250px;
  }
  .hero__link {
    width: 100px;
  }
  .container {
    width: 640px;
  }
  .device {
    width: 315px;
    background-position: center 331px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -304px;
  }
  .container-center {
    width: 100%;
  }
  .advantage {
    padding-top: 50px;
  }
  .advantage__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantage__item {
    width: 300px;
    margin-right: 0;
    margin-top: 20px;
  }
  .advantage__item:nth-child(2) {
    margin-top: 20px;
  }
  .advantage__desc {
    width: 280px;
  }
  .about__list {
    margin-bottom: 50px;
  }
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about__img {
    width: 203px;
    height: 210px;
    margin-left: 0;
  }
  .about__item:nth-child(2n-1) .about__img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
  .about__item:nth-child(2n) .about__img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
  .about__item:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__title {
    margin-top: 20px;
  }
  .about__desc {
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .about-desc__continue {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .how__item {
    width: 195px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .how__desc {
    width: 280px;
  }
  .how__line {
    display: none;
  }
  .how__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how__list__desc {
    width: 204px;
  }
  .trial__link {
    margin: 20px auto;
  }
  .trial-wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .price-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .price__list {
    margin-bottom: 30px;
  }
  .trust__list {
    padding-left: 15px;
  }
  .trust__item {
    margin-right: 15px;
  }
  .news__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .news__left {
    margin: 0 auto;
    width: 318px;
  }
  .news__left__img {
    width: 315px;
    height: 173px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .news__left__title {
    width: 100%;
  }
  .news__left__desc {
    width: 100%;
    text-align: justify;
  }
  .news__right {
    margin: 30px auto;
  }
  .news__right__item__right {
    margin-left: 10px;
    width: 180px;
  }
  .news__right__item__right__title {
    width: 100%;
    font-size: 16px;
  }
  .news__right__item__right__subtitle {
    width: 100%;
    margin-top: 2px;
  }
  .news__right__item__left {
    width: 100px;
    height: 72px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sub__form {
    width: 305px;
  }
  .sub__form input[type=text] {
    width: 184px;
  }
  .sub__form a {
    width: 121px;
  }
  .plan__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan__item {
    width: 250px;
    margin-right: 0;
    margin-top: 10px;
  }
  .trust {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trust__right {
    margin-left: 0;
  }
  .trust__left__img {
    display: none;
  }
  .trust__title {
    width: 280px;
    text-align: center;
    margin: 0 auto;
  }
  .trust__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .trial-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-footer__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 18px;
  }
  .home-footer__item {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=home.css.map */