body, html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
  }
  
  h1, p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .auxiliary_line {
    height: 100%;
    width: 1px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
  }
  
  .auxiliary_line--right {
    margin-left: -571px;
  }
  
  .auxiliary_line--left {
    margin-left: 570px;
  }
  .flex-container{
    display: flex;
  }
/* HEADER ________________________________________________________________*/
  .header {
    background-color: #f5fcfd;
    padding: 34px 0;
    box-sizing: border-box;
  }
  
  .header-container {
    width: 1620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .main-logo {
    color: #0f7bff;
    font-size: 36px;
    font-weight: 700;
  }
  
  .header-menu {
    display: flex;
    align-items: center;
  }
  
  .header-menu__list {
    display: flex;
  }
  
  .header-menu__item {
    color: #929292;
    text-transform: uppercase;
    margin-right: 40px;
    font-weight: 600;
  }
  
  .header-menu__item:hover {
    color: #0f7bff;
  }
  
  .header-menu__item:last-child {
    margin-right: 52px;
  }
  
  .header-menu__btn {
    text-transform: uppercase;
    font-weight: 700;
  }
/* HEADEr___________________________________________________________________________   */


  /* блок Wizzet------------------------------------------------- */
  
.wizzet {
    padding-top: 130px;
    background-color: #f5fcfd;
  }
  
  .wizzet-desc {
    /* display: inline-block; */
    margin-right: 125px;
  }
  
  .wizzet-desc__info {
    width: 458px;
    line-height: 27px;
    margin-top: 32px;
  }
  
  .wizzet-social {
    display: flex;
    margin-top: 38px;
  }
  
  .wizzet-social__item {
    margin-right: 15px;
  }
  
  .wizzet-social__link {
    display: block;
    width: 20px;
    height: 20px;
  }
  
  .wizzet-social__link:hover .wizzet-icon {
    fill: #0f7bff;
  }
  
  .wizzet-icon {
    width: 100%;
    height: 100%;
  }
  
  .bottom-nav {
    /* display: inline-block; */
    margin-right: 115px;
  }
  .bottom-nav_last{
    margin-right: 0;
  }
  
  .bottom-nav__title {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 36px;
  }
  
  .bottom-nav__item {
    margin-bottom: 20px;
  }
  
  .bottom-nav__link {
    color: #929292;
  }
  .bottom-nav__link:hover{
    color: #0f7bff;
  }
  .footer{
    border-top: 1px solid #dcdcdc;;
    background-color: #f5fcfd;
    padding: 42px 0;
  }
  .footer-flex-container{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .footer-list{
    display: flex;
  }
  .footer-list__item{
    margin-left: 30px;
  }
  .footer-list__item:hover{
    color: #0f7bff;
  }
  .arrow-up{
    position: absolute;
    bottom: 0;
    right: -100px;
  }
  .arrow-up:hover{
    opacity: .7;
  }
  .arrow-up__link{
  
  }
  .arrow-up__img{
    width: 45px;
    height: 45px;
  }
   /* блок Wizzet------------------------------------------------- */