.blog{
    
}
.blog-wrap{
    display: flex;
}
.blog__list{
    margin-top: rem(130px);
}
.blog__item{
    display: flex;
    width: 750px;
    box-shadow: 0 0 76px #e9e9e9;
    margin-top: rem(50px);
}
.blog__item:first-child{
    margin-top: 0;
}
.blog-img{
    width: rem(360px);
    height: rem(298px);
}
.blog-desc{
    margin-left: rem(30px);
    margin-top: rem(40px);
}
.blog-desc__title{
    color: #0f7bff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: rem(25px);
}
.blog-info{
    display: flex;
    justify-content: space-between;
}
.blog-info__item{
    display: flex;
}
.blog-info__img{
    width: rem(18px);
    height: rem(18px);
    margin-right: rem(9px);
    background-repeat: no-repeat;
}
.blog-info__text{
    font-size: rem(16px);
    color: #a4a4a4;
}
.blog-info__img-date{
    background-image: url(../img/blog/blogDate.png);
    background-repeat: no-repeat;
}
.blog-info__img-comment{
    background-image: url(../img/blog/blogComment.png);
    background-repeat: no-repeat;
}
.blog-info__img-like{
    background-image: url(../img/blog/blogLike.png);
    background-repeat: no-repeat;
}
.blog-desc__text{
    font-size: rem(16px);
    color: #929292;
    width: rem(300px);
    margin-top: rem(40px);
    margin-bottom: rem(40px);
}
.blog-desc__continue{
    display: flex;
    align-items: baseline;
}
.blog-desc__link{
    color: #333333;
    font-weight: bold;
}
.blog-desc__continue:hover .blog-desc__link{
    color: #0f7bff;
}
.blog-desc__continue:hover .blog-desc__arrow{
    background-image: url(../img/blog/blogArrow.png);
}
.blog-desc__arrow{
    width: rem(15px);
    height: rem(11px);
    margin-left: rem(9px);
    background-image: url(../img/blog/blogArrowBlack.png);
    background-size: contain;
}
.blog-tab{
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    margin-top: rem(50px);
    margin-bottom: rem(130px);
}
.blog-tab__item{
    width: rem(34px);
    height: rem(34px);
}
.blog-tab__link{
    background-color: #0f7bff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.blog-tab__link:hover{
    background-color: #fff;
    color: #0f7bff;
}
.blog-tab__item-last{
    background-image: url(../img/blog/Next_Icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.blog-tab__item-last:hover{
    background-color: #0f7bff;
    opacity: .7;
}
.blog-left{
    margin-top: rem(130px);
}
.blog-right{
    margin-top: rem(130px);
    margin-left: rem(30px);
}

.search-box{
    width: 392px;
    height: 64px;
    border-radius: 32px;
    box-shadow: 1px 11px 13px rgba(151, 151, 151, 0.19);
    border: 1px solid #dcdcdc;
    overflow: hidden;
    display: flex;
    margin-bottom: 50px;
}
.search-form{
    display: flex;
    width: 350px;
    border: none;
    padding: 22px 20px 22px 30px;
    outline: none;
}
.search-btn{
    display: block;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    width: rem(82px);
    height: rem(64px);
    background-color: #0f7bff;
    box-shadow: 1px 11px 13px rgba(151, 151, 151, 0.19);
}
.blog-block{
    box-shadow: 0 0 25px #f0f0f0;
    width: 360px;
    border: 1px solid #dcdcdc;
    padding-top: rem(41px);
    padding-left: rem(30px);
}
.recent{
   
}
.blog-block__title{
    font-size: 24px;
    color: #333333;
    font-weight: 700;
    margin-bottom: rem(30px);
}
.recent__list{

}
.recent__item{
    display: flex;
    align-items: center;
    margin-bottom: rem(30px);
}
.recent__item:hover .recent__post-name{
    color: #0f7bff;
}
.recent__left{

}
.recent__img{

}
.recent__rigth{
    margin-left: rem(30px);
}
.recent__post-name{
    font-size: 18px;
    color: #333333;
    font-weight: 500;
}
.recent__desc{
    width: 161px;
    font-size: 16px;
    color: #929292;
    font-weight: 400;
    line-height: 27px;
    margin-top: rem(12px);
}

.catagory{
    margin-top: rem(50px);
}
.catagory__list{

}
.catagory__item:hover .catagory__link{
    color: #0f7bff;
}
.catagory__item:last-child .catagory__link{
    border-bottom: none;
}
.catagory__link{
    color: #929292;
    border-bottom: 1px solid #dcdcdc;
    display: block;
    padding-bottom: rem(15px);
    margin-bottom: rem(30px);
}

.popular{
    margin-top: rem(50px);
}
.popular__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(25px);
}
.popular__item{
    border-radius: 14px;
    border: 1px solid #dcdcdc;
    margin-right: rem(14px);
    margin-bottom: rem(15px);
    overflow: hidden;
}
.popular__item:hover .popular__link{
    background-color: #0f7bff;
    color: #fff;
}
.popular__item:nth-child(3n){
    margin-right: 0;
}
.popular__link{
    padding: 9px 19px;
    display: block;
}
    @media (min-width: 992px) and (max-width: 1280px){
        
  }


  @media (min-width: 768px) and (max-width: 991px) {
    .body{
        font-size: 14px;
    }
    .blog-wrap{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .blog-right{
        margin-left: 0;
        width: 750px;
    }
    .blog-block{
        width: 750px;
        box-sizing: border-box;
    }
    .blog__item{
        width: 750px;
    }
    .blog-tab{
        justify-content: center;
    }
    .search-box{
        width: 750px;
    }
    
    .search-form{
        width: 618px;
    }
    .recent__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 40px;
    }
    .popular{
        margin-bottom: 50px;
    }
  }
  @media (min-width: 650px) and (max-width: 767px) {
    .body{
        font-size: 14px;
    }
    .blog-wrap{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .blog-img{
        display: none;
        
    }
    .blog-tab{
        justify-content: center;
    }
    .blog__list{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between; 
        margin-top: rem(50px);
    }
    .blog__item{
        width: 290px;
        padding: 20px;
        box-sizing: border-box;
    }
    .blog-desc{
        margin-left: 0;
        margin-top: 0;
    }
    .blog-desc__text{
        width: 100%;
    }
    .blog-right{
        margin-left: 0;
    }
    .blog-block{
        width: 555px;
    }
    .search-box{
        width: 590px;
    }
    .search-form{
        width: 582px;
    }
    .recent__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 40px;
    }
    .popular{
        margin-bottom: 50px;
    }
  }
  @media (min-width: 320px) and (max-width: 650px) {
    .body{
        font-size: 14px;
    }
    .blog-wrap{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .blog-img{
        display: none;
        
    }
    .blog-tab{
        justify-content: center;
    }
    .blog-right{
        margin-top: 0;
    }
    .blog__list{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between; 
        margin-top: rem(50px);
        flex-direction: column;
    }
    .blog__item{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .blog-desc{
        margin-left: 0;
        margin-top: 0;
    }
    .blog-desc__text{
        width: 100%;
    }
    .blog-right{
        margin-left: 0;
    }
    .blog-block{
        width: 290px;
    }
    .search-box{
        width: 310px;
    }
    .search-form{
        width: 212px;
    }
    .recent__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 40px;
    }
    .popular{
        margin-bottom: 50px;
    }
  }