.post {
  width: 750px;
  padding-bottom: 45px;
  border-bottom: 1px solid #dcdcdc;
}

.post-img {
  background-image: url(../img/post-img.png);
  width: 750px;
  height: 330px;
}

.post-title {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  margin-top: 50px;
}

.post-blog-info {
  width: 325px;
  margin-top: 20px;
}

.post-text {
  font-size: 16px;
  line-height: 27px;
  color: #929292;
  margin-top: 34px;
}

.post-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

.post-quote__img {
  width: 55px;
  height: 42px;
  background-image: url(../img/post-quote.png);
}

.post-quote__text {
  font-size: 16px;
  font-weight: 400;
  width: 516px;
  color: #333333;
  margin-left: 43px;
  margin-top: 35px;
}

.post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-footer__title {
  color: #333333;
  font-weight: bold;
}

.post-footer__tags {
  margin-left: 14px;
}

.post-footer__link {
  color: #929292;
  font-size: 14px;
  border: 1px solid #929292;
  border-radius: 14px;
  padding: 9px 19px;
}

.post-footer__link:hover {
  color: #0f7bff;
  border: 1px solid #0f7bff;
}

.post-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-footer__social__link {
  width: 10px;
  height: 20px;
  display: block;
}

.post-footer__social__link_fb {
  background-image: url(../img/social/sprite.svg#fb);
}

.post-footer__social__link_tw {
  background-image: url(../img/social/sprite.svg#twitter);
}

.post-footer__social__link_yt {
  background-image: url(../img/social/sprite.svg#yt);
}

.post-footer__social__link_fb:hover {
  background-image: url(../img/social/sprite.svg#fbh);
}

.post-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 58px auto 50px;
}

.post-nav__link {
  color: #0f7bff;
  font-weight: bold;
  border: 1px solid #0f7bff;
  border-radius: 25px;
  width: 165px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-nav__item:hover .post-nav__link {
  background-color: #0f7bff;
  color: #ffffff;
}

.comment {
  border-top: 1px solid #dcdcdc;
  padding-top: 50px;
}

.comment__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.comment__form input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  border: 1px solid #dcdcdc;
  width: 360px;
  border-radius: 5px;
  height: 60px;
}

.comment__form input[type=submit] {
  background-color: #0f7bff;
  width: 165px;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 130px;
}

.comment__form input[type=submit]:hover {
  opacity: .7;
}

.comment__form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  border-radius: 5px;
  padding-top: 22px;
  border: 1px solid #dcdcdc;
  width: 750px;
  height: 160px;
  resize: none;
  margin-top: 30px;
}

@media (min-width: 992px) and (max-width: 1280px) {
  .blog-left {
    width: 532px;
  }
  .post {
    width: 532px;
  }
  .post-img {
    width: 530px;
    height: 233px;
    background-size: contain;
  }
  .post-title {
    width: 530px;
  }
  .post-text {
    width: 530px;
  }
  .post-quote__text {
    width: 465px;
  }
  .post-footer {
    width: 530px;
  }
  .comment__form input[type=text] {
    width: 256px;
  }
  .blog-right {
    width: 358px;
  }
  .search-box {
    width: 100%;
  }
  .blog-block {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .arrow-up {
    right: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-right {
    width: 750px;
  }
  .search-box {
    width: 100%;
  }
  .blog-block {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .arrow-up {
    right: 45%;
  }
  .search-form {
    width: 619px;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  .blog-left {
    width: 532px;
    margin: 20px auto;
  }
  .post {
    width: 532px;
  }
  .post-img {
    width: 530px;
    height: 233px;
    background-size: contain;
  }
  .post-title {
    width: 530px;
  }
  .post-text {
    width: 530px;
  }
  .post-quote__text {
    width: 465px;
  }
  .post-footer {
    width: 530px;
  }
  .comment__form input[type=text] {
    width: 256px;
  }
  .blog-right {
    width: 532px;
    margin: 0 auto;
  }
  .search-box {
    width: 100%;
  }
  .blog-block {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .arrow-up {
    right: 5%;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .blog-left {
    width: 315px;
    margin: 20px auto;
  }
  .post {
    width: 315px;
  }
  .post-img {
    width: 315px;
    height: 139px;
    background-size: contain;
  }
  .post-title {
    width: 315px;
  }
  .post-text {
    width: 315px;
  }
  .post-quote__img {
    width: 53px;
    height: 42px;
    background-image: url(../img/post-quote.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .post-quote__text {
    width: 300px;
    margin-left: 7px;
    margin-top: 16px;
  }
  .post-footer {
    width: 315px;
  }
  .post-blog-info {
    width: 315px;
  }
  .post-nav {
    width: 300px;
  }
  .post-nav__link {
    width: 142px;
  }
  .comment__form input[type=text] {
    width: 315px;
    margin-bottom: 10px;
  }
  .comment__form input[type=submit] {
    margin-top: 10px;
  }
  .comment__form textarea {
    margin-top: 0;
  }
  .blog-right {
    width: 315px;
    margin: 0 auto;
  }
  .search-box {
    width: 100%;
  }
  .blog-block {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .arrow-up {
    right: 5%;
  }
}
/*# sourceMappingURL=rightSidebarDetails.css.map */